.welcomeSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 48px;
  /* background-color: var(--card-background-color); */
  /* box-shadow: var(--card-box-shadow); */
  /* min-height: 70vh; */
  /* border-radius: 16px; */
  /* border: 2px solid var(--main-text-color); */
}

.triviaDescContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.mainHeaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  position: relative;
}

.welcomeText {
  font-size: var(--font-size-large);
  color: var(--main-text-color);
  font-weight: var(--font-weight-bold);
}

.triviaDescHeader {
  font-size: var(--font-size-medium);
  color: var(--main-text-color);
  font-weight: var(--font-weight-bold);
}

.triviaDesc {
  font-size: var(--font-size-regular);
  color: var(--main-text-color);
  margin-left: 10px;
  margin-right: 10px;

}

.startButton {
  max-width: 300px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: var(--accent-color-pink);
}

.startButton:hover {
  background-color: var(--accent-color-green);
}

.whyTriviaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  gap: 16px;
}



@media screen and (max-width: 960px) {
  .welcomeSection {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .mainHeaderContainer {
    width: 100%;
    gap: 20px;
  }

  .whyTriviaContainer {
    width: 100%;
  }

  .startButton {
    position: relative;
    bottom: 0;
    width: 100%;
  }

  .triviaDesc {
    text-align: left;
  }
}