.mainCard {
  gap: 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: -webkit-fill-available;
  width: moz-available;
  width: stretch;
}

.categorySelectionContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: 500px;
}

.mainText {
  font-size: var(--font-size-huge);
  color: var(--main-text-color);
  font-style: oblique;
  text-align: center;
}

.sectionTab {
  width: 100%;
  height: 2px;
  color: var(--accent-color-purple);
  background-color: var(--accent-color-purple);
}

.categorySelectionLabel {
  display: flex;
  margin-bottom: 5px;
  font-size: var(--font-size-medium);
  color: var(--main-text-color);
  font-weight: var(--font-weight-semi-bold);
}

.categorySelection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.categorySelectionOption {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid var(--main-text-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.iconContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 16px;
  bottom: 34%;
}

.startButton {
  width: 230px;
  background-color: var(--accent-color-hot-purple);
}

.startButton:hover {
  width: 230px;
  background-color: var(--accent-color-green);
}

.categoryCard {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
}


.numberLabel {
  font-size: var(--font-size-semi-medium);
  color: var(--main-text-color);
  font-weight: var(--font-weight-semi-bold);
  margin-left: 12px;
}

@media screen and (max-width: 768px) {
  .mainCard>div {
    width: 100%;
    height: 500px;
  }
}