.card {
  min-height: fit-content;
  background-color: var(--main-bg-color);
  width: 90%;
}

.mainHeaderContainer {
  padding: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
  border: 2px solid var(--main-text-color);
  box-shadow: var(--card-box-shadow);
  position: relative;
  /* width: -webkit-fill-available;
  width: moz-available;
  width: stretch; */
  width: 100%;
}