 :root {
   --main-bg-color: #F7F7FF;
   --main-text-color: #070600;
   --accent-color-pink: #ea526f;
   --accent-color-hot-pink: rgb(240, 34, 72);
   --accent-color-green: #629677;
   --accent-color-hot-green: rgb(48, 236, 123);
   --accent-color-purple: #585481;
   --accent-color-hot-purple: rgb(133, 123, 244);
   --card-background-color: #f2f3f5;
   /* --font-family: 'Inter', sans-serif; */
   --font-family-alternative: 'Merriweather', serif;
   --font-weight: 400;
   --font-weight-bold: 700;
   --font-weight-semi-bold: 500;
   --font-size-small: 12px;
   --font-size-regular: 14px;
   --font-size-semi-medium: 16px;
   --font-size-medium: 20px;
   --font-size-large: 24px;
   --font-size-huge: 32px;
   --card-box-shadow: rgba(133, 123, 244, 0.4) 5px 5px, rgba(48, 236, 123, 0.3) 10px 10px, rgba(240, 34, 72, 0.2) 15px 15px, rgba(133, 123, 244, 0.1) 20px 20px, rgba(48, 236, 123, 0.05) 25px 25px;
 }

 * {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }

 body {
   background-color: var(--main-bg-color);
   padding: 0 6rem;
   padding-bottom: 2rem;
   font-family: var(--font-family);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 100vh;
 }

 @media screen and (max-width: 768px) {
   body {
     padding: 0 1rem;
     padding-bottom: 2rem;
   }
 }

 select {
   width: 100%;
   font-size: var(--font-size-semi-medium);
   background-color: var(--main-bg-color);
   border: 2px solid var(--main-text-color);
   border-radius: 0.25rem;
   color: var(--main-text-color);
   cursor: pointer;
   padding: 16px 20px;
   appearance: none;
   transition: all 0.2s ease-in-out;
 }

 select:focus {
   outline: none;
   box-shadow: var(--card-box-shadow);
 }

 select:active {
   outline: none;
   box-shadow: var(--card-box-shadow);
 }

 select:hover {
   outline: none;
   box-shadow: var(--card-box-shadow);
 }

 option {
   font-weight: var(--font-weight-semi-bold);
   font-size: var(--font-size-semi-medium);
   color: var(--main-text-color);
   background-color: var(--main-bg-color);
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 div,
 button,
 a,
 span,
 li {
   color: var(--main-text-color);
   font-family: var(--font-family);
   font-weight: var(--font-weight);
 }

 a {
   color: inherit;
   text-decoration: none;
 }

 button {
   background-color: transparent;
   color: var(--main-text-color);
   font-size: var(--font-size-semi-medium);
   font-weight: var(--font-weight-bold);
   border-radius: 8px;
   padding: 10px;
   border: 2px solid var(--main-text-color);
   cursor: pointer;
   transition: all 0.2s ease-in-out;
   font-style: oblique;
 }

 button:hover {
   color: var(--main-text-color);
   border: 2px solid var(--main-text-color);
 }


 input[type="radio"] {
   appearance: none;
   background-color: #fff;
   margin: 0;
   font: inherit;
   color: var(--accent-color-green);
   width: 1.15em;
   height: 1.15em;
   border: 0.15em solid var(--accent-color-green);
   border-radius: 50%;
   transform: translateY(-0.075em);
   display: grid;
   place-content: center;
 }

 input[type="radio"]::before {
   content: "";
   width: 0.65em;
   height: 0.65em;
   border-radius: 50%;
   transform: scale(0);
   transition: 120ms transform ease-in-out;
   box-shadow: inset 1em 1em var(--form-control-color);
   background-color: CanvasText;
 }

 input[type="radio"]:focus {
   outline: max(2px, 0.15em) solid currentColor;
   outline-offset: max(2px, 0.15em);
 }

 input[type="radio"]:checked::before {
   transform: scale(1);
 }