 :root {
   --main-bg-color: #F7F7FF;
   --main-text-color: #070600;
   --accent-color-pink: #ea526f;
   --accent-color-hot-pink: rgb(240, 34, 72);
   --accent-color-green: #629677;
   --accent-color-hot-green: rgb(48, 236, 123);
   --accent-color-purple: #585481;
   --accent-color-hot-purple: rgb(133, 123, 244);
   --card-background-color: #f2f3f5;
   --font-family: 'Inter', sans-serif;
   --font-family-alternative: 'Merriweather', serif;
   --font-weight: 400;
   --font-weight-bold: 700;
   --font-weight-semi-bold: 500;
   --font-size-small: 12px;
   --font-size-regular: 14px;
   --font-size-semi-medium: 16px;
   --font-size-medium: 20px;
   --font-size-large: 24px;
   --font-size-huge: 32px;
   --card-box-shadow: rgba(133, 123, 244, 0.4) 5px 5px, rgba(48, 236, 123, 0.3) 10px 10px, rgba(240, 34, 72, 0.2) 15px 15px, rgba(133, 123, 244, 0.1) 20px 20px, rgba(48, 236, 123, 0.05) 25px 25px;
 }

 * {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
 }

 body {
   background-color: var(--main-bg-color);
   padding: 0 6rem;
   padding-bottom: 2rem;
   font-family: var(--font-family);
 }

 @media screen and (max-width: 768px) {
   body {
     padding: 0 1rem;
     padding-bottom: 2rem;
   }
 }


 select {
   width: 100%;
   font-size: var(--font-size-semi-medium);
   background-color: var(--main-bg-color);
   border: 2px solid var(--main-text-color);
   border-radius: 0.25rem;
   color: var(--main-text-color);
   cursor: pointer;
   padding: 16px 20px;
   appearance: none;

   transition: all 0.2s ease-in-out;

 }

 select:after {
   content: '\25BC';
   /* Unicode character for a downward triangle */
   position: absolute;
   top: 50%;
   right: 10px;
   /* Adjust the position to your preference */
   transform: translateY(-50%);
   transition: transform 0.3s ease;
   /* Add a transition for smooth movement */
 }

 select:focus {
   outline: none;
   box-shadow: var(--card-box-shadow);
 }

 select:active {
   outline: none;
   box-shadow: var(--card-box-shadow);
 }

 select:hover {
   outline: none;
   box-shadow: var(--card-box-shadow);
 }

 option {
   font-weight: var(--font-weight-semi-bold);
   font-size: var(--font-size-semi-medium);
   color: var(--main-text-color);
   background-color: var(--main-bg-color);
 }


 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 div,
 button,
 a,
 span,
 li {
   color: var(--main-text-color);
   font-family: var(--font-family);
   font-weight: var(--font-weight);
 }

 a {
   color: inherit;
   text-decoration: none;
 }

 button {
   background-color: transparent;
   color: var(--main-text-color);
   font-size: var(--font-size-semi-medium);
   font-weight: var(--font-weight-bold);
   border-radius: 8px;
   padding: 10px;
   border: 2px solid var(--main-text-color);
   cursor: pointer;
   transition: all 0.2s ease-in-out;
   font-style: oblique;
 }

 button:hover {
   color: var(--main-text-color);
   border: 2px solid var(--main-text-color);
 }