.howItWorksSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 36px;
  padding-bottom: 10vh;
}

.howItWorksSection>div {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.howItWorksHeader {
  font-size: var(--font-size-huge);
  font-weight: var(--font-weight-bold);
  color: var(--main-text-color);
  text-align: left;
}

@media screen and (max-width: 768px) {
  .howItWorksSection {
    flex-direction: column;
    gap: 16px;
  }

  .howItWorksSection>div {
    width: 100%;
  }

  .howItWorksHeader {
    font-size: var(--font-size-large);
  }

}