.footerContainer {
  padding-top: 5rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid var(--main-text-color);
  width: 100%;
}

.infoContainer {
  /* padding: 36px 0; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.linkContainer,
.socialMediaContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.socialMediaContainer {
  min-width: 131px;
  justify-content: flex-end;
}

.link {
  text-decoration: underline;
}

.title {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-semi-bold);
  font-style: oblique;
  color: var(--main-text-color);
}

@media screen and (max-width: 768px) {

  .infoContainer {
    flex-direction: column;
    justify-content: center;
    gap: 24px;
  }

  .linkContainer {
    flex-direction: column;
    gap: 8px;
  }

  .socialMediaContainer {
    justify-content: center;

  }


}