.answerButton {
  /* background-color: var(--accent-color-purple); */
  color: var(--main-text-color);
  font-size: var(--font-size-semi-medium);
  font-weight: var(--font-weight-bold);
  border-radius: 8px;
  padding: 10px;
  border: 2px solid var(--main-text-color);
  max-width: 300px;
  margin: 0 auto;
  width: 100%;
  min-height: 60px;
  transition: all 0.2s ease-in-out;
}

.answerButton:hover {
  /* background-color: var(--accent-color-hot-purple); */
  transform: scale(1.1);
  box-shadow: var(--card-box-shadow);
}

.answerButtonClicked {
  background-color: var(--accent-color-hot-purple);
  max-width: 300px;
  margin: 0 auto;
  width: 100%;
  min-height: 60px;
}

.nextStep:hover,
.reverseButton:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: var(--linear-gradient);
  scale: 1.1;
}

.mainText {
  font-size: var(--font-size-huge);
  color: var(--main-text-color);
  font-style: oblique;
  text-align: center;
  padding-bottom: 24px;
}

.subText {
  font-size: var(--font-size-regular);
  font-style: oblique;
  color: var(--main-text-color);
}

.sectionTab {
  width: 100%;
  height: 2px;
  color: var(--accent-color-purple);
  background-color: var(--accent-color-purple);
}

.buttonContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
  margin: 40px auto;
}

.navigationButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.backButton {
  color: var(--main-text-color);
  font-size: var(--font-size-semi-medium);
  font-weight: var(--font-weight-bold);
  border-radius: 8px;
  padding: 10px;
  border: 2px solid var(--main-text-color);
}

.backButton:hover {
  background-color: var(--accent-color-pink);
}

.nextQuestion:hover {
  background-color: var(--accent-color-hot-purple);
}

.navButton {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: center;
  align-items: center;
}

.navButton>h4 {
  font-size: var(--font-size-semi-medium);
  font-weight: var(--font-weight-bold);
  color: var(--main-text-color);
}

.questionContainer {
  width: 100%;
}

.questionText {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 16px 0;
}

.nextStep:disabled {
  background-color: #a8a4a4;
  color: var(--main-text-color);
  cursor: not-allowed;
}


@media screen and (max-width: 768px) {
  .mainText {
    font-size: var(--font-size-large);
  }

  .questionText {
    font-size: var(--font-size-semi-medium);
  }

  .buttonContainer {
    display: flex;
    flex-direction: column;
  }

  .navButton>h4 {
    display: none;
  }
}