.stepContainer {
  position: relative;
  display: grid;
  grid-auto-columns: 1fr;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-column-gap: 2.5rem;
  grid-row-gap: 0px;
  -ms-grid-columns: -webkit-max-content 1fr;
  -ms-grid-columns: max-content 1fr;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 20%;
}

.progressBarWrapper {
  position: absolute;
  left: 24px;
  top: 35%;
  right: auto;
  width: 2px;
  height: 55%;
  background-color: var(--main-text-color);
}

.stepSubHeader {
  font-size: var(--font-size-semi-medium);
  font-weight: var(--font-weight-semi-bold);
  color: var(--main-text-color);
  text-align: left;
}

.progressBar {
  padding-bottom: 75%;
}

@media screen and (max-width: 768px) {
  .stepHeader {
    font-size: var(--font-size-medium);
  }

  .textContainer {
    padding-bottom: 10%;
  }

  .progressBarWrapper {
    height: 45%;
    top: 45%;
  }

  .stepSubHeader {
    font-size: var(--font-size-small);
  }

}